<?xml version="1.0" encoding="UTF-8" ?>

<widget 
		xmlns       = "http://www.w3.org/ns/widgets"
		xmlns:gap       = "http://phonegap.com/ns/1.0"
		xmlns:android   = "http://schemas.android.com/apk/res/android"
		id              = "com.worldrummytournament.app"
		version         = "20150128a">
		
	<name>WRT 2015</name>
	
	<description>WRT 2015 Manager</description>

	
	
	<content src="index.html" />
	
	<access origin="*" />

	<!-- Define app icon for each platform. -->
   <icon src="logo.png" />
   <gap:splash src="logo.png" />
   <gap:plugin name="org.apache.cordova.network-information" />

   <!-- Preference -->
   <preference name="orienation" value="portrait" />
   <preference name="fullscreen" value="true" />
   <preference name="WebViewBounce" value="false" />
   <preference name="DisallowOverscroll" value="true" />
   <preference name="android-windowSoftInputMode" value="adjustResize" />
   
	<feature name="Camera">
		<param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
	</feature>
	  
	<gap:config-file platform="android" target="AndroidManifest.xml" parent="/manifest">
		<activity
		android:name="com.worldrummytournament.app"
		android:label="com.worldrummytournament.app" 
		android:windowSoftInputMode="adjustResize"
		></activity>
		<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />		
	</gap:config-file>
</widget>
